.hero div > h1 {
    color: white;
    position:absolute;
    top 30%;
    left:60%; 

}
.hero div > .description{
    color: white;
    position:absolute;
    top 40%;
    left:60%; 
}


@media screen and (max-width: 900px) {
  .hero div > h1 {
    color: white;
    position:absolute;
    top 30%;
    left:50%; 

}
.hero div > .description{
    color: white;
    position:absolute;
    top 40%;
    left:50%; 
}

.liuyang{
    font-size: 50px
        }
}


